*,
*::after,
*::before {
  box-sizing: border-box;
}
/* 
  Apply border-box to all elements and their pseudo-elements.
  This changes the default box model behavior so that padding 
  and border are included *inside* the element's set width and height.
  
  Example:
  ------------------------------------
  .box {
    width: 100px;
    padding: 10px;
    border: 5px solid black;
  }

  With box-sizing: content-box (default):
    → Total width = 100 (content) + 20 (padding) + 10 (border) = 130px

  With box-sizing: border-box:
    → Total width = 100px (content + padding + border fits inside)
*/

:root {
  --primary-color: #fcbd7b;
  --secondary-color: #fdd78c;
  --accent-color: #da7400;
  --headings-color: #2d3250;
  --body-color: #7077a1;
  --border-color: #ccc;
}

html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--body-color);
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 2rem;
}

h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0rem;
}

a {
  text-decoration: none;
}

/*Links*/
.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.25s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*Badges*/

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600px;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--primary-color);
  color: #fff;
}

.badge--secondary {
  background: var(--secondary-color);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  badge {
    font-size: 1.2rem;
  }
}

/*Lists*/

.list {
  list-style: none;
  padding-left: 0;
  color: var(--headings-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../img/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*Icons*/

.icon {
  width: 50px;
  height: 50px;
}

.icon--primary {
  fill: var(--primary-color);
}
.icon--white {
  fill: #fff;
}

.icon-container {
  background-color: #f3f9fa;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--accent-color);
}

.icon--small {
  width: 20px;
  height: 20px;
}

.btn {
  border-radius: 3rem;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: opacity 0.2s;
  text-align: center;
  margin: 1rem 0rem;
}

.btn--primary {
  background-color: var(--primary-color);
  color: #fff;
}
.btn:hover {
  opacity: 70%;
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn--accent {
  background-color: var(--accent-color);
  color: #fff;
}
.btn--outline {
  border: 2px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}
.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*inputs*/

.input {
  outline: 0;
  border: 0;
  border-radius: 30px;
  padding: 1.5rem 3rem;
  font-size: 2rem;
}

::placeholder {
  color: #e0dee9;
}

.input-group {
  border: 1px solid var(--border-color);
  border-radius: 30px;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1rem 1.5rem;
}
.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.card {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

/* here we are saying if with have a card with card--primary class then 
the card__header of that card sholud have these styles*/
.card--primary .card__header {
  background: var(--primary-color);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--secondary-color);
  color: #fff;
}

/*Plans*/

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.5rem;
}

.paln__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  opacity: 80%;
  font-size: 2.4rem;
  font-weight: 200;
  margin-right: 1rem;
}

.plan__description {
  display: block;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(/img/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 2rem;
  }

  .paln__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    opacity: 80%;
    font-size: 2.4rem;
    font-weight: 200;
    margin-right: 1rem;
  }

  .plan__description {
    font-size: 1.6rem;
  }
}

.media {
  display: flex;
  flex-direction: row;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin: 0;
}

.media__image {
  margin-top: 1rem;
}

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--headings-color);
  line-height: 1.3;
}

.quote__text::after {
  content: close-quote;
}
.quote__text::before {
  content: open-quote;
}

.qoute__title {
  font-weight: 400;
  font-size: 3rem;
}

.qoute__organization {
  margin-top: -0.5rem;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  opacity: 70%;
}

.qoute__line {
  position: relative;
  bottom: 12px;
}

/* 
grids*/

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

.testimonial {
  padding: 3rem;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -30px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote {
    font-size: 2.4rem;
    margin-left: 7rem;
  }
}

.callout-container {
  background-color: var(--primary-color);
  padding: 2rem 4rem;
  border-radius: 2rem;
}

.callout__text {
  text-align: center;
}
.callout__text__header {
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0;
}

.callout__text__body {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
}

.callout-container .btn {
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__text {
    text-align: left;
  }

  .callout-container .btn {
    justify-self: start;
    margin-left: 5rem;
  }
}
