<section class="block container">
  <header class="block__header">
    <h2>Hos on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
      aspernatur!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="featured__heading">Super Easy To Use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe
        sunt, magni molestiae neque illum minus veniam deleniti vel odio.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="img/easy.jpg" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use
            xlink:href="img/sprite.svg#Computer-Engineer-Coding-Programing-Configulation"></use>
        </svg>
      </span>
      <h3 class="featured__heading">Simply Fast Websites</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe
        sunt, magni molestiae neque illum minus veniam deleniti vel odio.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="img/fast.jpg" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="featured__heading">wordpress Made Easy</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe
        sunt, magni molestiae neque illum minus veniam deleniti vel odio.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="img/wordpress.jpg" alt="" />
  </article>
</section>
