<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellendus
    eos expedita asperiores nesciunt porro dolores quibusdam ad quo dolore.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary qoute__line">
          <use xlink:href="img/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title qoute__title">Modi Qasim</h3>
        <p class="qoute__organization">CEO-comp AB</p>
      </div>
    </div>
  </footer>
</blockquote>
