<div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img class="testimonial__image" src="img/testimonial.jpg" alt="" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="img/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel
          repellendus eos expedita asperiores nesciunt porro dolores quibusdam
          ad quo dolore.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary qoute__line">
                <use xlink:href="img/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title qoute__title">Modi Qasim</h3>
              <p class="qoute__organization">CEO-comp AB</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>